.nav {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo__text {
  font-weight: 800;
}

.nav__item {
  display: none;
  cursor: pointer;
}
.nav__item a {
  text-decoration: none;
  color: #1e1e1e;
}

.nav__item--focus {
  display: block;
  background-color: #5056ff;
  padding: 10px 15px;
  border-radius: 10px;
}
.nav__item--focus a {
  color: #fff;
}

@media (min-width: 1024px) {
  .nav__items {
    display: flex;
    gap: 2rem;
  }

  .nav__item {
    display: block;
    list-style-type: none;
    font-weight: 300;
  }

  .nav__item:hover {
    color: #000000;
  }

  .nav__item--focus {
    font-weight: 700;
    background: none;
    color: #181818;
    padding: 0;
  }
  .nav__item--focus a {
    color: #181818;
  }
}
