.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  line-height: 25px;
  padding: 3rem;
}

.about-me__title {
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .about-me {
    padding: 5rem;
    margin: 30px 100px;
  }
}
